
.popdown_form {
    position: absolute;
    top: 65%; 
    max-height: 0px;
    left: -70%;
    width: 240%;
    padding: 0px;
    background:#C2EDCE;
    color:#F6F6F2;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow:hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease, padding 0.5s ease;
    z-index: 10;
  }

  .popdown_form input,
  .popdown_form button {
    width: 80%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(0,0,0,0.5);
    border-radius:15px;
    transition: transform 0.3s ease
  }
  
.popdown_form.show{
    max-height:33vh;
    opacity:1;
    padding:20px;
}
.popdown_form button{
    cursor:pointer;
    background-color: #C2EDCE;
}

.popdown_form button:hover{
    background-color: #BADFE7;
}

.popdown_form button:active{
    background-color:#6FB3B8;
}
.popdown_form input:hover, .popdown_form button:hover{
    transform:scale(1.05);
}
/* saw issue of not actually being able to add images when screen is 
small so i added this hehe
*/
@media screen and (max-width: 600px){
    .popdown_form{
        overflow-x:scroll;
    }
}

@media screen and (max-height:480px){
    .popdown_form{
        overflow-y:scroll;
    }

}